.create-head{
    margin-top: 5px;
    margin-bottom: 20px;
}

.confirmpass-head{
    margin-top: 10px;
}

.create-but{
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    color: white;
    background-color: blueviolet;
    font-weight: 500;
    font-size: 20px;
}

.user-image{
    max-width: 100px;
    margin-top: 5px;
    display: block;
}

.extenstion{
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
}
.container{
    margin-left: 50px !important;
    margin-right: 50px !important;
    margin-bottom: 30px !important;
}
#secretcode{
    display: none;
}
.secret-but{
    color: #fff;
    background-color: grey;
    padding: 20px;
    border-radius: 4px;
}

.create-but a,.secret-but a{
    text-decoration: none !important;
    color: #fff !important;
}


.words{
    margin-top: 30px;
}

.words span{
    border: 2px solid black;
    padding: 10px 40px 10px 40px;
    background-color: #eee;
    font-size: 20px;
    
}